.Form {
  display: flex;
  align-self: stretch;
  padding: 0 10px;
  gap: 10px;
  height: 2rem;
  input {
    display: flex;
    flex: 2;
  }
  button {
    display: inline;
    flex: 1;
    text-align: center;
  }
}
