.Form {
  display: flex;
  align-self: stretch;
  padding: 0 10px;
  gap: 10px;
  height: 2rem;
  input,
  button {
    display: inline;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
  input {
    flex: 3;
  }
  button {
    flex: 1;
  }
}
