.Header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #fff, #eee);
  border-bottom: 1px solid #ddd;
  padding: 15px;
  > span {
    font-weight: bold;
    font-size: x-large;
  }
}
.Action {
  svg {
    width: 12px;
  }
}
.ActionGroup {
  position: relative;
  cursor: pointer;
  .Dropdown {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
  }
  &:hover {
    .Dropdown {
      display: block;
      > span:hover {
        color: dodgerblue;
      }
    }
  }
}
